h1 {
    text-align: center;
}
h3 {
    background-color: dodgerblue;
    color: white;
    border-radius: 25px;
    text-align: center;
}
.lead {
    text-align: center;
}
.jumbotron {
    margin-top: 30px;
    background-color: rosybrown;
    color: darkslategrey;
}
#table {
    border: gray;
    border-style: solid;
    border-width: 3px;
    padding-bottom: 50px;
    border-radius: 10px;
}

#form {
    padding-top: 8%;
}
#main {
    margin-bottom: 5%;
}